<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Program" value="" />
    <add key="Interval" value="" />
    <add key="Configured" value="" />
    <add key="ProgramVal" value="" />
    <add key="IntervalVal" value="" />
    <add key="ConfiguredVal" value="" />
    <add key="ProgramProd" value="" />
    <add key="IntervalProd" value="" />
    <add key="ConfiguredProd" value="" />
    <add key="Max_Ideal_Run_Time" value="5" />
    <add key="LogFile" />
  </appSettings>
</configuration>